In [60]:
from rdflib import ConjunctiveGraph
from SPARQLWrapper import SPARQLWrapper, JSON

import pandas as pd

def remoteQuery(query, endpoint):
    endpoint.setQuery(query)
    try:
        result = endpoint.queryAndConvert()    
        df = pd.DataFrame(result['results']['bindings'])
        df = df.applymap(lambda x: x['value'])
        return df
    except Exception as e:
        print(e)

### With a GraphDB SPARQL endpoint

In [65]:
ep = SPARQLWrapper("http://172.20.53.116:7200/repositories/HMPkg")
ep.setReturnFormat(JSON)

q = """
SELECT * WHERE { ?s ?p ?o } LIMIT 10
"""

In [64]:
remoteQuery(query=q, endpoint=ep)

,s,p,o
0,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,http://www.w3.org/1999/02/22-rdf-syntax-ns#Pro...
1,http://www.w3.org/2000/01/rdf-schema#subProper...,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,http://www.w3.org/1999/02/22-rdf-syntax-ns#Pro...
2,http://www.w3.org/2000/01/rdf-schema#subProper...,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,http://www.w3.org/2002/07/owl#TransitiveProperty
3,http://www.w3.org/2000/01/rdf-schema#subClassOf,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,http://www.w3.org/1999/02/22-rdf-syntax-ns#Pro...
4,http://www.w3.org/2000/01/rdf-schema#subClassOf,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,http://www.w3.org/2002/07/owl#TransitiveProperty
5,http://www.w3.org/2000/01/rdf-schema#domain,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,http://www.w3.org/1999/02/22-rdf-syntax-ns#Pro...
6,http://www.w3.org/2000/01/rdf-schema#range,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,http://www.w3.org/1999/02/22-rdf-syntax-ns#Pro...
7,http://www.w3.org/2002/07/owl#equivalentProperty,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,http://www.w3.org/2002/07/owl#SymmetricProperty
8,http://www.w3.org/2002/07/owl#equivalentProperty,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,http://www.w3.org/2002/07/owl#TransitiveProperty
9,http://www.w3.org/2002/07/owl#equivalentClass,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,http://www.w3.org/2002/07/owl#SymmetricProperty

### With a Virtuoso SPARQL endpoint

In [74]:
## SSL Certificate expired (12th of october 2022)
#ep = SPARQLWrapper("https://130.226.25.41/sparql") 

ep = SPARQLWrapper("http://rdf.disgenet.org/sparql/")
ep.setReturnFormat(JSON)

q = """
SELECT * WHERE { ?s ?p ?o } LIMIT 10
"""

In [75]:
remoteQuery(query=q, endpoint=ep)

,s,p,o
0,http://www.openlinksw.com/virtrdf-data-formats...,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,http://www.openlinksw.com/schemas/virtrdf#Quad...
1,http://www.openlinksw.com/virtrdf-data-formats...,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,http://www.openlinksw.com/schemas/virtrdf#Quad...
2,http://www.openlinksw.com/virtrdf-data-formats...,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,http://www.openlinksw.com/schemas/virtrdf#Quad...
3,http://www.openlinksw.com/virtrdf-data-formats...,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,http://www.openlinksw.com/schemas/virtrdf#Quad...
4,http://www.openlinksw.com/virtrdf-data-formats...,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,http://www.openlinksw.com/schemas/virtrdf#Quad...
5,http://www.openlinksw.com/virtrdf-data-formats...,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,http://www.openlinksw.com/schemas/virtrdf#Quad...
6,http://www.openlinksw.com/virtrdf-data-formats...,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,http://www.openlinksw.com/schemas/virtrdf#Quad...
7,http://www.openlinksw.com/virtrdf-data-formats...,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,http://www.openlinksw.com/schemas/virtrdf#Quad...
8,http://www.openlinksw.com/virtrdf-data-formats...,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,http://www.openlinksw.com/schemas/virtrdf#Quad...
9,http://www.openlinksw.com/virtrdf-data-formats...,http://www.w3.org/1999/02/22-rdf-syntax-ns#type,http://www.openlinksw.com/schemas/virtrdf#Quad...